<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="android.space.lingen.webviewdemo">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTSE" />

    <application
        android:name=".Main.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="@xml/backup_descriptor"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning,InnerclassSeparator,UnusedAttribute">
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>

        <activity android:name=".Main.webview.MainActivity"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".Main.webview.activity.GeckoViewWebViewActivity"
            tools:ignore="InnerclassSeparator"/>

        <activity android:name=".Main.webview.activity.CrosswalkWebViewActivity"
            tools:ignore="InnerclassSeparator">
        </activity>

        <activity android:name=".Main.webview.activity.OriginalWebViewActivity"
            tools:ignore="InnerclassSeparator">
        </activity>

        <activity android:name=".Main.webview.activity.X5WebViewActivity"
            tools:ignore="InnerclassSeparator">
        </activity>
    </application>
</manifest>
